/dts-v1/;

#include "tegra124.dtsi"

/ {
	model = "NVIDIA Jetson TK1";
	compatible = "nvidia,jetson-tk1", "nvidia,tegra124";

	aliases {
		i2c0 = "/i2c@7000d000";
		i2c1 = "/i2c@7000c000";
		i2c2 = "/i2c@7000c400";
		i2c3 = "/i2c@7000c500";
		i2c4 = "/i2c@7000c700";
		i2c5 = "/i2c@7000d100";
		sdhci0 = "/sdhci@700b0600";
		sdhci1 = "/sdhci@700b0400";
		spi0 = "/spi@7000d400";
		spi1 = "/spi@7000da00";
		usb0 = "/usb@7d000000";
		usb1 = "/usb@7d008000";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <100000>;
	};

	/* Expansion PWR_I2C_*, on-board components */
	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;
		palmas: tps65913@58 {
			compatible = "ti,palmas";
			reg = <0x58>;
			interrupts = <0 86 0>;
			#interrupt-cells = <2>;
 			interrupt-controller;
			ti,long_press_delay = <1>;
			
			palmas_gpio: gpio {
				compatible = "ti,palmas-gpio";
				gpio-controller;
				#gpio-cells = <2>;
 			};
			
			rtc {
				compatible = "ti,palmas-rtc";
				interrupt-parent = <&palmas>;
				interrupts = <8 0>;
			};
			
			pinmux {
				compatible = "ti,tps65913-pinctrl";
				pinctrl-names = "default";
				pinctrl-0 = <&palmas_default>;

				palmas_default: pinmux {
					powergood {
						pins = "powergood";
						function = "powergood";
					};

					vac {
						pins = "vac";
						function = "vac";
					};

					pin_gpio0 {
						pins = "gpio0";
						function = "id";
						bias-pull-up;
					};

					pin_gpio1 {
						pins = "gpio1";
						function = "gpio";
					};

					pin_gpio6 {
						pins = "gpio2", "gpio3", "gpio4", "gpio6", "gpio7";
						function = "gpio";
					};

					pin_gpio5 {
						pins = "gpio5";
						function = "clk32kgaudio";
					};
 				};
			};
			
			power_pm {
				compatible = "ti,palmas-pm";
				system-pmic-power-off;
			};
			
			clock {
				compatible = "ti,palmas-clk";
				clk32k_kg {
					ti,clock-boot-enable;
 				};

				clk32k_kg_audio {
					ti,clock-boot-enable;
 				};
			};

			pmic {
			compatible = "ti,tps65913-pmic", "ti,palmas-pmic";
				ldo1-in-supply = <&palmas_smps6>;
				ldo2-in-supply = <&palmas_smps6>;
				ldo3-in-supply = <&palmas_smps10_out2>;
				ldo5-in-supply = <&palmas_smps8>;
				ldo6-in-supply = <&palmas_smps9>;
				ldo7-in-supply = <&palmas_smps9>;
				ldo9-in-supply = <&palmas_smps9>;
				ldoln-in-supply = <&palmas_smps10_out2>;
				smps10-out2-supply = <&palmas_smps10_out2>;

				regulators {
					smps123 {
						regulator-name = "vdd-cpu";
						regulator-min-microvolt = <700000>;
						regulator-max-microvolt = <1400000>;
						regulator-always-on;
						regulator-boot-on;
						ti,roof-floor = <1>;
						ti,config-flags = <8>;
					};

					smps45 {
						regulator-name = "vdd-gpu";
						regulator-min-microvolt = <700000>;
						regulator-max-microvolt = <1400000>;
						regulator-init-microvolt = <1000000>;
						regulator-boot-on;
					};

					palmas_smps6: smps6 {
						regulator-name = "vddio-ddr";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <1200000>;
						regulator-always-on;
						regulator-boot-on;
					};

					smps7 {
						regulator-name = "vdd-core";
						regulator-min-microvolt = <700000>;
						regulator-max-microvolt = <1400000>;
						regulator-always-on;
						regulator-boot-on;
						ti,roof-floor = <3>;
					};

					palmas_smps8: smps8 {
						regulator-name = "vdd-1v8";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
						regulator-always-on;
						regulator-boot-on;
					};

					palmas_smps9: smps9 {
						regulator-name = "vdd-snsr";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
					};

					palmas_smps10_out1: smps10_out1 {
						regulator-name = "vdd-out1-5v0";
						regulator-min-microvolt = <5000000>;
						regulator-max-microvolt = <5000000>;
						regulator-always-on;
						regulator-boot-on;
					};

					palmas_smps10_out2: smps10_out2 {
						regulator-name = "vdd-out2-5v0";
						regulator-min-microvolt = <5000000>;
						regulator-max-microvolt = <5000000>;
					};

					palmas_ldo1: ldo1 {
						regulator-name = "avdd-pll";
						regulator-min-microvolt = <1050000>;
						regulator-max-microvolt = <1050000>;
						regulator-always-on;
						regulator-boot-on;
						ti,roof-floor = <3>;
					};

					ldo2 {
						regulator-name = "vdd-lcd-io";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
						regulator-boot-on;
					};

					ldo3 {
						regulator-name = "vdd-touch";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
					};

					ldo4 {
						regulator-name = "avdd-cam";
						regulator-min-microvolt = <2700000>;
						regulator-max-microvolt = <2700000>;
					};

					ldo5 {
						regulator-name = "avdd-dsi-csi";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <1200000>;
					};

					ldo6 {
						regulator-name = "vdd-cam-af";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
					};

					ldo7 {
						regulator-name = "avdd-cam-af";
						regulator-min-microvolt = <2700000>;
						regulator-max-microvolt = <2700000>;
					};

					ldo8 {
						regulator-name = "vdd-rtc";
						regulator-min-microvolt = <950000>;
						regulator-max-microvolt = <950000>;
						regulator-always-on;
						regulator-boot-on;
					};

					ldo9 {
						regulator-name = "vddio-sdmmc-2";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <3300000>;
					};

					palmas_ldoln: ldoln {
						regulator-name = "vddio-hv";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-always-on;
						regulator-boot-on;
					};

					ldousb {
						regulator-name = "avdd-usb";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-always-on;
						regulator-boot-on;
					};
				};
			};
		};
	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
	};

	sdhci@700b0600 {
		status = "okay";
		bus-width = <8>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vdd_ac_bat_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd_ac_bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		usb0_vbus: regulator@1 {
			compatible = "regulator-fixed-sync";
			reg = <1>;
			regulator-name = "usb0-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) 0>;
			enable-active-high;
			gpio-open-drain;
		};

		usb1_vbus: regulator@2 {
			compatible = "regulator-fixed-sync";
			reg = <2>;
			regulator-name = "usb1-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(N, 5) 0>;
			gpio-open-drain;
			vin-supply = <&palmas_smps10_out2>;
		};

		usb2_vbus: regulator@3 {
			compatible = "regulator-fixed-sync";
			reg = <3>;
			regulator-name = "usb2-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(FF, 1) 0>;
			gpio-open-drain;
			vin-supply = <&palmas_smps10_out2>;
		};

		avdd_lcd: regulator@41 {
			compatible = "regulator-fixed-sync";
			reg = <41>;
			regulator-name = "avdd-lcd-vsp";
			regulator-min-microvolt = <5500000>;
			regulator-max-microvolt = <5500000>;
			regulator-boot-on;
			gpio = <&gpio 68 0>;
			enable-active-high;
		};
		
		bvdd_lcd: regulator@42 {
				compatible = "regulator-fixed-sync";
				reg = <42>;
				regulator-name = "avdd-lcd-vsn";
				regulator-min-microvolt = <5500000>;
				regulator-max-microvolt = <5500000>;
				regulator-boot-on;
				gpio = <&gpio 146 0>;
				enable-active-high;
		};


		vdd_lcd: regulator@5 {
			compatible = "regulator-fixed-sync";
			reg = <5>;
			regulator-name = "vdd-lcd";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			enable-active-high;
			gpio = <&palmas_gpio 4 0>;
			vin-supply = <&palmas_smps8>;
		};

		ldoen: regulator@6 {
			compatible = "regulator-fixed-sync";
			reg = <6>;
			regulator-name = "ldoen";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			enable-active-high;
			gpio = <&palmas_gpio 6 0>;
			vin-supply = <&palmas_smps8>;
		};

		en_lcd_bl: regulator@8 {
			compatible = "regulator-fixed-sync";
			reg = <8>;
			regulator-name = "en-lcd-bl";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(H, 2) 0>;
		};

		vdd_hdmi: regulator@9 {
			compatible = "regulator-fixed-sync";
			reg = <9>;
			regulator-name = "vdd-hdmi";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(K, 6) 0>;
			vin-supply = <&palmas_smps10_out1>;
		};
		
		vdd_cam_1v8: regulator@10 {
				compatible = "regulator-fixed-sync";
				reg = <10>;
				regulator-name = "vdd-cam-1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				enable-active-high;
				gpio = <&palmas_gpio 1 0>;
				vin-supply = <&palmas_smps8>;
		};
		vdd_cam_1v2: regulator@11 {
				compatible = "regulator-fixed-sync";
				reg = <11>;
				regulator-name = "vdd-cam-1v2";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				enable-active-high;
				gpio = <&palmas_gpio 2 0>;
				vin-supply = <&palmas_smps8>;
		};				
	};
};
